# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local variable files may contain secrets
*.tfvars
*.tfvars.json
!*.tfvars.example

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
